/* address */
.footer-container {
  background-color: $herro-background;
  color: $white-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
// height: 603px;
padding-top: 60px;
  padding-bottom: 60px;
text-align: center;


 @include for-size(desktop) {
  height: 252px;
  text-align: left;
  padding: 0;
 }
}

.footer-flex {
  display: block;

   @include for-size(tablet) {
     display: flex;
     flex-wrap: wrap; 
     justify-content: space-around;
   }
}

.footer-address {
margin: 0;

 @include for-size(desktop) {
  margin-right: 70px;
}}

.footer {
  display: block;
  margin-right: 0;
 margin-top: 0;
  margin-bottom: 20px;

  @include for-size(tablet) {
    padding: 0;
  }

  @include for-size(desktop) {
    
     margin-top: 60px;
}}

.adress {
  display: inline-flex;
  flex-direction: column;

  font-style: normal;

&__text {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-bottom: 9px;
}

&__connection {
  font-weight: 400;
  color: $gray-color-two;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
}
}

/* footer-slogan */
.footer-slogan {
  margin: 0;


  @include for-size(desktop) {
  margin-right: 93px;
  }

&__text {
  margin-top: 60px;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;

 @include for-size(tablet) {
     margin-top: 0;
   }

 @include for-size(desktop) {
    margin-top: 72px;
}
}}
