/* logo */
.logo {
  margin-right: 93px;
  font-family: $logo-font;
  font-weight: 700;
  color: $black-color-one;
  text-decoration: none;

  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

&__text-web {
  color: $color-accent;
}

&__text-studio {
  color: $white-color;
}
}