// *, *::before, *::after {
//     outline: 2px solid red;}

body {
  font-family: $basic-font;
  background-color: $white-color;
  color: $black-color-two;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;


  @include for-size(mobile) {
    width: 480px;
  }

  @include for-size(tablet) {
    width: 768px;
  } 

   @include for-size(desktop) {
      width: 1200px;
   }
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.picture {
  display: block;
  max-width: 100%;
  height: auto;
}

img {
  width: 100%;
}