/* Постоянные клиенты */
.clients-logo {
  display: flex;
  flex-wrap: wrap;
  
  justify-content: space-between;

}


.clients-logo__list {
  margin-bottom: 30px;
  

&:nth-last-child(-n + 2){
 margin-bottom: 0;
}

@include for-size(tablet) {
  margin-right: 30px;

  &:nth-child(3) {
    margin-right: 0px;
  }

   &:nth-child(6) {
margin-right: 0px;
  }

  &:nth-last-child(-n + 3){
    margin-bottom: 0;
  }
}

@include for-size(desktop) {
&:not(:last-child) {
  margin-right: 30px;
   margin-bottom: 0;
}}
}


.clients-logo__link {
  fill: #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 210px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border $transitions;
  margin-right: 0;



 @include for-size(tablet) {
width: 226px;
 }

  @include for-size(desktop) {
    width: 170px;}

&:hover,
&:focus {
  border: 1px solid $color-accent;

}
}

.clients-logo__img {
  transition: fill $transitions;

.clients-logo__link:hover &,
.clients-logo__link:focus & {
  fill: $color-accent;
}
}