/* Постоянные клиенты */
.clients-logo {
  display: flex;
  flex-wrap: wrap;

  margin: -15px;
}


.clients-logo__list {
  margin: 15px;
width: calc((100% - 2 * 30px) / 2);
  


@include for-size(tablet) {
  width:calc((100% - 3 * 30px) / 3);
}


@include for-size(desktop) {
  width: 170px;
  }}


.clients-logo__link {
  fill: #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;

  // max-width: 210px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border $transitions;
  margin-right: 0;



 @include for-size(tablet) {
width: 226px;
 }

  @include for-size(desktop) {
    width: 170px;}

&:hover,
&:focus {
  border: 1px solid $color-accent;

}
}

.clients-logo__img {
  transition: fill $transitions;

.clients-logo__link:hover &,
.clients-logo__link:focus & {
  fill: $color-accent;
}
}