/* Особенности */
.featyre {
  display: block;
  

  @include for-size(tablet) {
  display: flex;
  flex-wrap: wrap;

   @include for-size(desktop) {
     flex-wrap: unset;
}}

&__title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;

  @include for-size(desktop) {
    text-align: left;
  }
}

&__text {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;

  font-weight: 400;
  color: $gray-color-one;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  @include for-size(tablet) {
    width: 354px;
  }

   @include for-size(desktop) {
    width: 270px;
}}
}


.featyre__list::before {
  content: '';
  display: block;

  height: 120px;
  width: 450px;
  background-color: $section-background;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;

  @include for-size(tablet) {
    height: 120px;
  width: 354px;
  margin-right: 0; 

}

  @include for-size(desktop) {
  height: 120px;
  width: 270px;
}
}

.featyre__list:nth-child(1)::before {
  background-image: url(../images/antenna.svg);
}

.featyre__list:nth-child(2)::before {
  background-image: url(../images/clock.svg);
}

.featyre__list:nth-child(3)::before {
  background-image: url(../images/diagram.svg);
}

.featyre__list:nth-child(4)::before {
  background-image: url(../images/astronaut.svg);
}

.featyre__list:not(:last-child) {
  margin-bottom: 30px;

   @include for-size(tablet) {
     &:nth-last-child(-n + 2){
 margin-bottom: 0;
}}
}

.featyre__list{
  margin: 0;

 @include for-size(tablet) {
   &:nth-child(2n + 1) {
margin-right: 30px;
}}

 @include for-size(desktop) {
&:not(:last-child) {
  margin-right: 30px;
}}
}

